.btn,
a.btn {
  display: inline-block; /*так как ссылки это инлайн эл., чтоб сработали размеры в нутри кнопки*/
  height: 51px;
  line-height: 51px; /*выравниваем внутри кнопки текст*/
  padding-left: 50px;
  padding-right: 50px;
  background-color: #01996d;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
  border-radius: 4px;
  transition: opacity 0.2s ease;
}

.btn:hover,
a.btn:hover {
  opacity: 0.8;
  color: #ffffff;
}

.btn-big,
a.btn-big {
  height: 65px;
  line-height: 65px; /*выравниваем внутри кнопки текст*/
}

@media (max-width: 991px) {
  /* прописываем при ширине менее 991*/
  .btn-big,
  a.btn-big {
    height: 55px;
    line-height: 55px;
  }

  .btn,
  a.btn {
    padding-left: 30px;
    padding-right: 30px;
  }
}
